<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wfaIntegradoCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding3" />
        <binding name="BillServicePortBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding7" />
        <binding name="BillServicePortBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding10">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding11" />
        <binding name="BillServicePortBinding12">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding14">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding15" />
        <binding name="BillServicePortBinding16">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding18">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding19" />
        <binding name="BillServicePortBinding20">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding22">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding23" />
        <binding name="BillServicePortBinding24">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding26">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding27" />
        <binding name="BillServicePortBinding28">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding30">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding31" />
        <binding name="BillServicePortBinding32">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding34">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding35" />
        <binding name="BillServicePortBinding36">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding38">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding39" />
        <binding name="BillServicePortBinding40">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding42">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding43" />
        <binding name="BillServicePortBinding44">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding46">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding47" />
        <binding name="BillServicePortBinding48">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding50">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding51" />
        <binding name="BillServicePortBinding52">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding54">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding55" />
        <binding name="BillServicePortBinding56">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding58">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding59" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BillServicePortBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding5">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding9">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding13">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding17">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding21">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding25">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding29">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding33">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding37">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding41">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding45">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding49">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding53">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BillServicePortBinding57">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="ServicioFacturacion2023.billService" name="BillServicePort" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding1" contract="ServicioFacturacion2023.billService" name="BillServicePort.0" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding2" contract="ServicioFacturacion2023.billService" name="BillServicePort.3" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding4" contract="ServicioFacturacion.billService" name="BillServicePort1" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding5" contract="ServicioFacturacion.billService" name="BillServicePort.01" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding6" contract="ServicioFacturacion.billService" name="BillServicePort.31" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding8" contract="ServicioFacturacion.billService" name="BillServicePort2" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding9" contract="ServicioFacturacion.billService" name="BillServicePort.02" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding10" contract="ServicioFacturacion.billService" name="BillServicePort.32" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding12" contract="ServicioFacturacion.billService" name="BillServicePort3" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding13" contract="ServicioFacturacion.billService" name="BillServicePort.03" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding14" contract="ServicioFacturacion.billService" name="BillServicePort.33" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding16" contract="ServicioFacturacion.billService" name="BillServicePort4" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding17" contract="ServicioFacturacion.billService" name="BillServicePort.04" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding18" contract="ServicioFacturacion.billService" name="BillServicePort.34" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding20" contract="ServicioFacturacion2023.billService" name="BillServicePort5" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding21" contract="ServicioFacturacion2023.billService" name="BillServicePort.05" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding22" contract="ServicioFacturacion2023.billService" name="BillServicePort.35" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding24" contract="ServiceReference1.billService" name="BillServicePort6" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding25" contract="ServiceReference1.billService" name="BillServicePort.06" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding26" contract="ServiceReference1.billService" name="BillServicePort.36" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding28" contract="ServiceReference1.billService" name="BillServicePort7" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding29" contract="ServiceReference1.billService" name="BillServicePort.07" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding30" contract="ServiceReference1.billService" name="BillServicePort.37" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding32" contract="ServiceReference1.billService" name="BillServicePort8" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding33" contract="ServiceReference1.billService" name="BillServicePort.08" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding34" contract="ServiceReference1.billService" name="BillServicePort.38" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding36" contract="ServiceReference1.billService" name="BillServicePort9" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding37" contract="ServiceReference1.billService" name="BillServicePort.09" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding38" contract="ServiceReference1.billService" name="BillServicePort.39" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding40" contract="ServiceReference1.billService" name="BillServicePort10" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding41" contract="ServiceReference1.billService" name="BillServicePort.010" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding42" contract="ServiceReference1.billService" name="BillServicePort.310" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding44" contract="ServiceReference1.billService" name="BillServicePort11" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding45" contract="ServiceReference1.billService" name="BillServicePort.011" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding46" contract="ServiceReference1.billService" name="BillServicePort.311" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding48" contract="Servicionfacturacion.billService" name="BillServicePort12" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding49" contract="Servicionfacturacion.billService" name="BillServicePort.012" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding50" contract="Servicionfacturacion.billService" name="BillServicePort.312" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding52" contract="ServiceReference1.billService" name="BillServicePort13" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding53" contract="ServiceReference1.billService" name="BillServicePort.013" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding54" contract="ServiceReference1.billService" name="BillServicePort.313" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding56" contract="ServiceReference1.billService" name="BillServicePort14" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="customBinding" bindingConfiguration="BillServicePortBinding57" contract="ServiceReference1.billService" name="BillServicePort.014" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding58" contract="ServiceReference1.billService" name="BillServicePort.314" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <wfaIntegradoCom.Properties.Settings>
      <setting name="wfaIntegradoCom_ServicioFacturacion_billService" serializeAs="String">
        <value>https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService</value>
      </setting>
    </wfaIntegradoCom.Properties.Settings>
  </applicationSettings>
</configuration>
